<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NHLBI PCC Assignment Tool (PCCAT)</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="logo-container">
      <img
        src="{{ url_for('static', filename='images/Picture1.png') }}"
        alt="Picture 1"
      />
    </div>
    <div class="header">
      <h1>NHLBI PCC Assignment Tool (PCCAT)</h1>
    </div>
    <p style="direction: rtl; margin-right: 5%">
      Powered by NHLBI Chat - an OpenAI-based Large Language Model
    </p>
    <div style="margin-left: 5%">
      <h3><bold>Instructions</bold></h3>
      <ol>
        <li>
          Please save your branch’s PCC code and PO assignment spreadsheet to a
          “folder” of your preference.
        </li>
        <li>Select one spreadsheet by clicking [Choose Files].</li>
        <li>Click [Run] to generate PCC code.</li>
        <li>
          Click [View] to view the recommended PCC code in the same spreadsheet
          you saved in your “folder”.
        </li>
      </ol>
    </div>
  </body>
</html>
